[terminal]
    serial = true
    adb = true

[serial_port]
    name = '/dev/ttyUSB4'
    baudrate = 115200
    timeout = 4

[adb_device]
    name = R1J56L618f996e

[test_1]
    name = "host controller enum test"
    type = "platform_test"
    remote_cmd = "lspci -k"
    expected_result = "00:15.0 Class 0c03: 8086:5aa8 xhci_hcd"

[test_2]
    name = "Device controller enum test"
    type = "platform_test"
    remote_cmd = "lspci -k"
    expected_result = "00:15.1 Class 0c03: 8086:5aaa dwc3-pci"
